.profile__post {
    max-width: 336px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 568px) {
    .profile__post {
        max-width: 282px;
        margin: 14px 0 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}