.page {
    background-color: #000000;
    color: #FFFFFF;
    max-width: 100vw;
    padding-top: 45px;
    padding-bottom: 60px;
}

@media screen and (max-width: 568px) {
    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}